.personal-form-container{
    width: 500px;
    margin: 5% 9%;
}

.personal-form {
    width: 100%;
    background-color: #03224c ;
    padding: 25px;
    border-radius: 10px;
    overflow-y: auto;
    
}

.personal-form h2 {
    margin: 0 0 20px 0;
    font-size: 1.5rem;
    color: #9ADCFF;
}

.personal-row{
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.personal-form .personal-section{
    flex:1;
}

.personal-section{
    margin-bottom: 15px;
}


.labeled-input {
    width: 100%;
    margin-bottom: 15px;
}

.labeled-input > label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.1rem;
    font-weight: 600;
    color: #FFC7EA;
    
}

.labeled-input  input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #9ADCFF;
    border-radius: 4px;
    font-size: 14px;
    background-color: #F8E8EE;
}

.labeled-input  input:focus, textarea:focus {
    outline: none;
    border-color: #e67a7a;
}

.labeled-input  textarea {
    resize: vertical;
    min-height: 100px;
}


